<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PLANETARIA</title>
<!--    <link rel="stylesheet" href="style.css">-->
</head>
<body>
<a href="/register">GETTTT IIINNNN PEEEENNYYYY</a>
<br>
<a href="/users">CLICK TO SEE THE USERS PEEEENNYYYY</a>
<br>
<a href="/shows">CLICK TO SEE THE SHOWWWWSSS PPEEEENNNYYYYYY</a>
<br>
<br>
<br>
<a href="/shows/create">DESTROY</a>
<!--<script src="index.js"></script>-->
</body>
</html>