<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <title>REGISTAR</title>
<!--    <link rel="stylesheet" href="style.css">-->
</head>
<body>
<h1>PLS I BEG YOU TO REGISTER</h1>
<form>
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname"><br>
    <label for="email">Email:</label><br>
    <input type="text" id="email" name="email">
</form>
<button type="button" class="registerBtn">Register!</button>
<script type="text/javascript" th:src="@{/js/register.js}"></script>
</body>
</html>