<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <title>UZAZ</title>
<!--    <link rel="stylesheet" href="style.css">-->
</head>
<body>
<h1>THE UZAAAAZZZZZZZ</h1>
<div th:each="user : ${users}">
<h3 th:text="'ID: ' + ${user.id}"/>
<p th:text="'Name: ' + ${user.firstName} + ' ' + ${user.lastName}"/>
<p th:text="'Email: ' + ${user.email}"/>
</div>
</body>
</html>